<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <form action="http://localhost:3000/libros" method="post">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Titulo</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="titulo" placeholder="Titulo" required>
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Autor</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" name="autor" placeholder="Autor" required>
            </div>
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
    <div class="col-lg-1"></div>
</div>